
*{
    margin:0;
    /* text-align: center; */
    font-family: 'Merriweather', serif;

}

a{
    font-family: 'Montserrat', sans-serif;
        margin: 10px 20px;
}

a:hover{
    color:#e4f9f5;
}

.top-container{
    background-color: #e4f9f5;
    padding-top: 118px;
    position: relative;
    text-align: center;
}

.middle-container{
    margin:100px auto;
    text-align: center;
}

h1{
    font-size: 90px;
    color:#66BFBF;
    margin: 0 auto;
    font-family: 'Sacramento', cursive;
    line-height: 2;
}

h2{
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 30px;
    padding-top: 30px;
}

h3{
    color:#11999E;
    font-family: 'Montserrat', sans-serif;
}

.top-cloud{
    position: absolute;
    top:50px;
    right:350px;
}

.bottom-cloud{  
    position: absolute;
    left:350px;
    top: 400px;
}


.profile-picture{
    width:170px;
    height:170px;
}

p{
    line-height: 2;  
}

#designation{
    font-size: 1.5rem;
    padding-bottom: 10px;
}

.intro{
    width: 30%;
    margin: auto;
}

hr{
    border: dotted #bddcdc 6px;
    border-bottom: none;
    width: 10%;
    margin: 100px auto 60px auto;
}

.skill-row{
    margin: 30px auto 150px auto;
    text-align: left;
    width: 50%;
}

.code-img{
    float: left;
    margin-right: 30px;
}

.html-img{
    float: right;
    margin-left: 20px;
}

.contact-message{
    width: 50%;
    margin: 40px auto;
}
.btn {
    background: #b187ed;
    background-image: -webkit-linear-gradient(top, #b187ed, #1b30a3);
    background-image: -moz-linear-gradient(top, #b187ed, #1b30a3);
    background-image: -ms-linear-gradient(top, #b187ed, #1b30a3);
    background-image: -o-linear-gradient(top, #b187ed, #1b30a3);
    background-image: linear-gradient(to bottom, #b187ed, #1b30a3);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 18px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #d9b1e8;
    background-image: -webkit-linear-gradient(top, #d9b1e8, #7627d6);
    background-image: -moz-linear-gradient(top, #d9b1e8, #7627d6);
    background-image: -ms-linear-gradient(top, #d9b1e8, #7627d6);
    background-image: -o-linear-gradient(top, #d9b1e8, #7627d6);
    background-image: linear-gradient(to bottom, #d9b1e8, #7627d6);
    text-decoration: none;
}

.bottom-container{
    text-align: center;
    background-color:#66BFBF;
    padding: 50px 0 20px 0;
}

.copyright{
    color: #EAF6F6;
        font-size: 0.75rem;
        padding: 20px 0;
}